<footer>
  <div class="creator-info flex items-center justify-center gap-1.5">
    <h6>
      <strong>Made by </strong>
    </h6>
    <a
      href="https://github.com/RaulUrdanetaG"
      rel="noreferrer"
      target="_blank"
    >
      <img src='/src/assets/logo-github.svg' alt="Github logo" class="w-8" />
    </a>
    <h6>
      <a
        href="https://github.com/RaulUrdanetaG"
        rel="noreferrer"
        target="_blank"
      >
        <b>Raul Urdaneta</b>
      </a>
    </h6>
  </div>
</footer>
