<div
  *ngIf="isLoading(); else elseBlock"
  class="flex items-center gap-3 align-middle justify-center min-h-screen"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="48"
    viewBox="0 -960 960 960"
    width="48"
    class="animate-spin"
  >
    <path
      class="fill-black dark:fill-slate-50"
      d="M480-80q-84 0-157-31t-127-85q-54-54-85-127T80-480q0-84 31-157t85-127q54-54 127-85t157-31q12 0 21 9t9 21q0 12-9 21t-21 9q-141 0-240.5 99.5T140-480q0 141 99.5 240.5T480-140q141 0 240.5-99.5T820-480q0-12 9-21t21-9q12 0 21 9t9 21q0 84-31 157t-85 127q-54 54-127 85T480-80Z"
    />
  </svg>
  <p class="text-black dark:text-white text-4xl">Loading...</p>
</div>

<ng-template #elseBlock>
  <h2 class="section-title text-black dark:text-white text-6xl font-bold my-7">{{ filterTitle }}</h2>
  <div class="games-grid my-2 mr-4 ml-2">
    <div
      class="game-card shadow-sm shadow-black dark:shadow-slate-700 max-w-80 grid bg-white dark:bg-slate-900 dark:text-white rounded-lg"
      *ngFor="let game of gamesResponse?.results"
    >
      <div class="game-thumbnail min-w-full overflow-hidden rounded-t-lg">
        <img
          class="thumbnail-img"
          src="{{ game.background_image }}"
          alt="{{ game.slug }}-thumbnail"
        />
      </div>
      <div class="game-info grid h-auto">
        <div class="game-platforms flex gap-2 px-4 py-2">
          <div *ngFor="let parent_platform of game.parent_platforms">
            <div [ngSwitch]="parent_platform.platform.name">
              <div *ngSwitchCase="'Xbox'">
                <i class="fa-brands fa-xbox"></i>
              </div>
              <div *ngSwitchCase="'PC'">
                <i class="fa-brands fa-windows"></i>
              </div>
              <div *ngSwitchCase="'PlayStation'">
                <i class="fa-brands fa-playstation"></i>
              </div>
              <div *ngSwitchCase="'Android'">
                <i class="fa-brands fa-android"></i>
              </div>
              <div *ngSwitchCase="'Apple Macintosh'">
                <i class="fa-brands fa-apple"></i>
              </div>
              <div *ngSwitchCase="'Linux'">
                <i class="fa-brands fa-linux"></i>
              </div>
              <div *ngSwitchCase="'Nintendo'">
                <i class="fa-solid fa-n"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between px-4 gap-4">
          <h2 class="text-2xl font-semibold">{{ game.name }}</h2>
          <h3 class="text-xl">${{ getPrice(game) }}</h3>
        </div>
        <button
          class="add-to-cart-button flex gap-2 items-center m-4 px-2 py-1 text-black dark:text-white rounded-xl"
        >
          Add to cart <i class="fa-regular fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
