<aside class="ml-4 flex flex-col gap-4 text-black dark:text-white text-2xl">
  <app-new-releases-buttons></app-new-releases-buttons>
  <app-top-buttons></app-top-buttons>
  <div>
    <h3 class="text-4xl">Platforms</h3>
    <button class="flex gap-4 items-center">
      <div><i class="fa-brands fa-windows"></i></div>
      PC
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-brands fa-xbox"></i></div>
      Xbox
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-brands fa-playstation"></i></div>
      Play Station
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-n"></i></div>
      Nintendo
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-brands fa-android"></i></div>
      Android
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-brands fa-apple"></i></div>
      IOs
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-brands fa-linux"></i></div>
      Linux
    </button>
  </div>
  <div>
    <h3 class="text-4xl">Genres</h3>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-hand-fist"></i></div>
      Action
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-chess-knight"></i></div>
      Strategy
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-shield"></i></div>
      RPG
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-gun"></i></div>
      Shooter
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-regular fa-compass"></i></div>
      Adventure
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-puzzle-piece"></i></div>
      Puzzle
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-flag-checkered"></i></div>
      Racing
    </button>
    <button class="flex gap-4 items-center">
      <div><i class="fa-solid fa-basketball"></i></div>
      Sports
    </button>
  </div>
</aside>
