<aside
  class="side-bar ml-4 flex flex-col justify-start text-black dark:text-white text-2xl sticky top-2 overflow-y-auto"
>
  <div class="px-4 py-2 flex flex-col gap-1.5">
    <h3 class="text-4xl">New releases</h3>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Last 30 days')"
      (click)="selectButton('last30Days')"
      [class.activeBtn]="activeButton === 'last30Days'"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      Last 30 days
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('This week')"
      (click)="selectButton('thisWeek')"
      [class.activeBtn]="activeButton === 'thisWeek'"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-fire-flame-curved"></i>
      </div>
      This week
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Next week')"
      (click)="selectButton('nextWeek')"
      [class.activeBtn]="activeButton === 'nextWeek'"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-forward"></i>
      </div>
      Next week
    </button>

    <h3 class="text-4xl">Top</h3>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Best of the year')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-trophy"></i>
      </div>
      Best of the year
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Popular in 2022')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-chart-line"></i>
      </div>
      Popular in 2022
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('All time top')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-crown"></i>
      </div>
      All time top
    </button>

    <h3 class="text-4xl">Platforms</h3>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('PC')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-brands fa-windows"></i>
      </div>
      PC
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Xbox')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-brands fa-xbox"></i>
      </div>
      Xbox
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Play Station')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-brands fa-playstation"></i>
      </div>
      Play Station
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Nintendo')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-n"></i>
      </div>
      Nintendo
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Android')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-brands fa-android"></i>
      </div>
      Android
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('macOs')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-brands fa-apple"></i>
      </div>
      macOs
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Linux')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-brands fa-linux"></i>
      </div>
      Linux
    </button>

    <h3 class="text-4xl">Genres</h3>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Action')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-hand-fist"></i>
      </div>
      Action
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Strategy')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-chess-knight"></i>
      </div>
      Strategy
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('RPG')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-shield"></i>
      </div>
      RPG
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Shooter')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-gun"></i>
      </div>
      Shooter
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Adventure')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-regular fa-compass"></i>
      </div>
      Adventure
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Puzzle')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-puzzle-piece"></i>
      </div>
      Puzzle
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Racing')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-flag-checkered"></i>
      </div>
      Racing
    </button>
    <button
      class="flex gap-4 items-center dark:hover:bg-slate-600 hover:bg-slate-300 p-2 rounded-lg"
      (click)="applyFilter('Sports')"
    >
      <div class="px-1.5 rounded-lg text-white bg-slate-900 w-10 h-8">
        <i class="fa-solid fa-basketball"></i>
      </div>
      Sports
    </button>
  </div>
</aside>
