.side-bar {
  max-height: 1000px;
}

.activeBtn {
  background-color: rgb(203 213 225);
}

.side-bar::-webkit-scrollbar {
  background-color: #f1f5f9;
  width: 3px;
  margin-left: 10px;
}

.close-side-bar{
  display: none;
}

@media (prefers-color-scheme: dark) {
  .side-bar::-webkit-scrollbar {
    background-color: #1e293b;
    width: 3px;
    margin-left: 10px;
  }
  .activeBtn {
    background-color: rgb(71 85 105);
  }
}

@media (max-width: 750px) {
  .side-bar {
    display: none;
    font-size: 20px;
  }

  .displayed{
    display: flex;
  }

  button{
    gap: 2px;
  }

  .categories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .close-side-bar{
    display: block;
  }
}
