<section class="bg-white dark:bg-gray-900 font-sans">
  <div
    class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
      >
        Level Up Your Gaming Experience
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        Discover the epic world of gaming at our store for all your gaming
        needs. Whether you're a hardcore gamer or just getting started, we've
        got you covered with the latest titles.
      </p>
      <a
        routerLink="/all-games"
        class="color-button inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-black rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      >
        See our games
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <a
        routerLink="/categories"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
      >
        See all categories
      </a>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex rounded-lg">
      <img class="rounded-lg" src="assets/gameOn.jpg" alt="mockup" />
    </div>
  </div>
  <div
    class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36"
  >
    <span class="font-semibold text-gray-400 uppercase">FEATURED</span>
    <div
      class="flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between"
    >
      <a
        href="https://rawg.io/apidocs"
        target="_blank"
        rel="noreferrer"
        class="flex gap-2 items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400"
      >
        <img class="h-12 rounded-full" src="assets/RAWG.png" alt="Rawg logo" />
        <p class="font-bold text-xl">RAWG API</p>
      </a>
      <a
        href="https://angular.io/"
        target="_blank"
        rel="noreferrer"
        class="flex gap-2 items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400"
      >
        <img
          class="h-14 rounded-full"
          src="assets/angular.png"
          alt="Angular logo"
        />
        <p class="font-bold text-xl">ANGULAR</p>
      </a>
      <a
        href="https://www.typescriptlang.org/"
        target="_blank"
        rel="noreferrer"
        class="flex gap-2 items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400"
      >
        <img class="h-10" src="assets/typescript-2.svg" alt="TypeScript logo" />
        <p class="font-bold text-xl">TypeScript</p>
      </a>
      <a
        href="https://www.netlify.com/"
        target="_blank"
        rel="noreferrer"
        class="flex gap-2 items-center mr-5 mb-5 lg:mb-0 hover:text-gray-800 dark:hover:text-gray-400"
      >
        <img
          class="h-12 rounded-full"
          src="assets/Netlify.webp"
          alt="Netlify logo"
        />
        <p class="font-bold text-xl">NETLIFY</p>
      </a>
    </div>
  </div>
</section>
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Designed for players like you
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Our platform is the ultimate destination for your gaming adventures.
        Discover an expansive library of titles, from the latest releases to
        timeless classics, meticulously curated with your gaming tastes in mind.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0 text-black dark:text-white"
    >
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <i class="fa-solid fa-magnifying-glass text-5xl"></i>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Search</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Unleash your inner explorer in our vast gaming universe. Dive into our
          search feature, where every query becomes an adventure. Find your next
          epic quest, unearth hidden gems, and uncover the titles that fuel your
          gaming passions.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <i class="fa-solid fa-plus text-5xl"></i>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Add</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Experience the thrill of building your gaming arsenal adding the game
          to your cart. Seamlessly collect and organize your favorite titles,
          creating a digital treasure trove of adventures waiting to be played.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <i class="fa-regular fa-credit-card text-5xl"></i>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Buy</h3>
        <p class="text-gray-500 dark:text-gray-400">
          When it's time to turn your gaming dreams into reality, buy them.
          Effortlessly browse, select, and securely purchase the games you
          desire. Acquiring your gaming gems is a breeze. Get ready to own,
          play, and conquer with just a few clicks.
        </p>
      </div>
    </div>
  </div>
</section>
<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-900 border-t-2">
  <div class="mx-auto max-w-screen-xl text-center">
    <p class="my-6 text-gray-500 dark:text-gray-400">
      This is not a commercial project. You can’t buy any games here and all of
      the prices are generated to imitate a real game shop.
    </p>
    <ul
      class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white"
    >
      <li>
        <a routerLink="/home" class="mr-4 hover:underline md:mr-6">Home</a>
      </li>
      <li>
        <a routerLink="/all-games" class="mr-4 hover:underline md:mr-6"
          >All games</a
        >
      </li>
      <li>
        <a routerLink="/categories" class="mr-4 hover:underline md:mr-6"
          >Categories</a
        >
      </li>
    </ul>
  </div>
</footer>
