<div class="p-4 flex flex-col gap-3">
  <h3 class="text-4xl">New Releases</h3>
  <button
    *ngFor="let state of buttonStates; let i = index"
    (mouseover)="hoverTrue(i)"
    (mouseleave)="hoverFalse(i)"
  >
    <div [ngSwitch]="i">
      <div *ngSwitchCase="0" class="flex gap-4 items-center">
        <div
          class="px-1.5 rounded-lg bg-slate-500 w-10 h-8"
          [ngClass]="{ 'text-black bg-slate-200': state }"
        >
          <i class="fa-solid fa-calendar-days"></i>
        </div>
        Last 30 days
      </div>
      <div *ngSwitchCase="1" class="flex gap-4 items-center">
        <div
          class="px-1.5 rounded-lg bg-slate-500 w-10 h-8"
          [ngClass]="{ 'text-black bg-slate-200': state }"
        >
          <i class="fa-solid fa-fire-flame-curved"></i>
        </div>
        This week
      </div>
      <div *ngSwitchCase="2" class="flex gap-4 items-center">
        <div
          class="px-1.5 rounded-lg bg-slate-500 w-10 h-8"
          [ngClass]="{ 'text-black bg-slate-200': state }"
        >
          <i class="fa-solid fa-forward"></i>
        </div>
        Next week
      </div>
    </div>
  </button>
</div>
